---
import Quote from './Quote.astro';
import HR from '../ui/HR.astro';
import { quotes } from '../../data';
---

<div class="space-y-12">
  <HR />
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 sm:gap-8 lg:gap-10">
  {quotes.map((quote) => (
    <Quote
      id={quote.id}
      name={quote.name}
      role={quote.role}
      company={quote.company}
      hero={quote.hero}
      quote={quote.quote}
      highlight={quote.highlight}
    />
  ))}
  </div>
</div>
